.resume {
  max-width: 95rem;
  margin: auto;
  background: #ffffff;
  border: 0.3rem solid #000;
  padding: 8rem;
}

.top-line {
  height: 0.3rem;
  max-width: 65rem;
  background: #000;
  border-radius: 10px;
}

.header h1 {
  font-size: 3.2rem;
  padding-top: 2.4rem;
}

.role {
  color: #2ecc71;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 2;
  font-size: 2rem;
}

.contact p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #000;
  font-weight: bold;
}

section {
  padding-bottom: 3.2rem;
}

h2 {
  color: #2ecc71;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.item {
  /* margin-bottom: 1.6rem; */
}

.skills {
  padding-top: 2rem;
}

.skills p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #000;
  font-weight: bold;
}

h3 {
  color: #1e6bd6;
  font-size: 2rem;
  font-weight: 600;
}

.education p,
.date {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #000;
  font-weight: bold;
}

.companies {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

ul li {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #000;
  font-weight: bold;
  margin-left: 1.2rem;
}

.skills-used {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #000;
  font-weight: bold;
}

.social p {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #000;
  font-weight: bold;
}
